<%= javascript_pack_tag "hisseki/drawer.js" %>

<%= form_with(model: hisseki, id: :hisseki_form) do |form| %>
  <% if hisseki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hisseki.errors.count, "error") %> prohibited this hisseki from being saved:</h2>

      <ul>
        <% hisseki.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <canvas id="board" width="128" height="128" style="border: 1px solid #000000;"></canvas>


  <div class="actions">
    <button class="btn btn-warning" type="button" id="btn-extinction">削除</button>
    <%= form.submit button_message, class: ["btn", "btn-primary"] %>
  </div>

  <div class="loader" id="submit_loading" hidden="true">
    Loading...
  </div>
<% end %>
