<%= form_with(model: hisseki) do |form| %>
  <% if hisseki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hisseki.errors.count, "error") %> prohibited this hisseki from being saved:</h2>

      <ul>
        <% hisseki.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
