<%= javascript_include_tag "hisseki/drawer.js", defer: true %>

<%= form_with(id: :hisseki_form, **form_params, data: { turbo: false }) do |form| %>
  <% hisseki ||= nil %>
  <% if hisseki&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hisseki.errors.count, "error") %> prohibited this hisseki from being saved:</h2>

      <ul>
        <% hisseki.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <canvas id="board" width="128" height="128" style="border: 1px solid #000000;"></canvas>


  <div class="actions">
    <button class="btn btn-warning" type="button" id="btn-extinction">削除</button>
    <%= form.submit button_message, class: ["btn", "btn-primary"] %>
    <div class="loader" height="40" id="submit_loading" hidden="true">
      Loading...
    </div>
  </div>

<% end %>
