<h1>Hissekis</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hissekis.each do |hisseki| %>
      <tr>
        <td><%= hisseki.id %></td>
        <td><%= hisseki.user.name %></td>
        <td><%= image_tag hisseki.image.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= link_to "Send Hisseki", new_hisseki_path, "data-turbolinks": false %>
<br>
<%= link_to "Hisseki list", hissekis_path %>
