<!DOCTYPE html>
<html>
  <head>
    <title>HissekiServer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/bootstrap.min.css" crossorigin="anonymous">
    <script src="/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <%= link_to image_tag("hisseki_logo.png", width: 120, height: 63), root_path, class: "navbar-brand" %>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNav4" style>
            <ul class="navbar-nav">
              <li class="nav-item active">
                <%= link_to image_tag("userlist.png", width: 96, height: 25), users_path, class: "nav-link" %>
              </li>
              <% if logged_in? %>
                <li class="nav-item active">
                  <%= link_to image_tag("hissekilist.png", width: 76, height: 21), hissekis_path, class: "nav-link" %>
                </li>
                <li class="nav-item active">
                  <%= link_to image_tag("logout.png", width: 91, height: 20), logout_path, method: :delete, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item active">
                  <%= link_to image_tag("signup.png", width: 103, height: 24), new_user_path, class: "nav-link" %>
                </li>
                <li class="nav-item active">
                  <%= link_to image_tag("login.png", width: 76, height: 21), login_path, class: "nav-link", "data-turbolinks": false %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br>

    <div class="container-md">
      <div class="row">
        <div class="border shadow m-3 mb-5 bg-light rounded-3">
          <% if notice %>
          <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert"><%= alert %></p>
          <% end %>
          <% if logged_in? %>
            <div class="border-bottom">
              現在のユーザー
              <br>
              ユーザーネーム: <%= current_user.name %>
              <br>
              ID: <%= current_user.id %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
