<!DOCTYPE html>
<html>
  <head>
    <title>HissekiServer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "home", root_path %>
    <% if logged_in? %>
      <%= link_to "logout", logout_path, method: :delete %>
      <%= link_to "hisseki_list", hissekis_path %>
    <% else %>
      <%= link_to "login", login_path %>
      <%= link_to "new user", new_user_path %>
    <% end %>
    <% if logged_in? %>
    <br>
      <div>
        id: <%= current_user.id %>
        <br>
        name: <%= current_user.name %>
        <br>
        <%= link_to "delete this account", current_user, method: :delete, data: { confirm: "You sure?" } %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
